table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    background-size: cover;


}

header {
    font-size:100px;
}

.coffee-title{
font-size: 100px;
}

.roast{
margin-right: 100px;
}
.coffee-name{

}
